@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply border-0 bg-[color:var(--dark-blue)] text-[color:var(--light-grey)] p-6 rounded-full h-0 w-0 flex justify-center items-center text-sm hover:bg-[color:var(--light-grey)] hover:text-white active:bg-[color:var(--orange)] active:text-white cursor-pointer transition;
  }

  .btn--active {
    @apply bg-[color:var(--orange)] text-white;
  }

  .desc {
    @apply m-0 text-[color:var(--light-grey)] max-w-xs;
  }
}

textarea::-webkit-scrollbar {
  background-color: var(--dark-blue);
  width: 15px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue-card);
  border-radius: 50px;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --dark-blue-card: hsl(214, 21%, 13%);
  --very-dark-blue: hsl(214, 15%, 9%);
  --very-dark-blue-2: hsl(216, 12%, 8%);
}
