@use "base";

:root {
  font-size: 15px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: base.$very-dark-blue;
  color: white;
}

img {
  width: 100%;
}

.card {
  margin: 0 1.5em;
  text-align: center;
  background-color: base.$dark-desaturated-blue;
  border-radius: 1em;
  margin-bottom: 1em;

  .container {
    position: relative;

    img {
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
      display: flex;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: hsl(277, 71%, 29%), $alpha: 0.65);
      top: 0;
    }
  }

  .card__content {
    box-sizing: border-box;
    padding: 2em;

    .title,
    .desc {
      font-family: base.$font1;
    }

    .title {
      font-size: 1.85rem;
      margin: 0;

      span {
        color: base.$soft-violet;
      }
    }

    .desc {
      line-height: 1.5em;
      color: base.$slightly-transparent-white;
      margin-bottom: 2em;
    }

    .comp {
      .comp__title {
        margin: 0;
        font-family: base.$font1;
        margin-bottom: 0.25em;
        font-size: 1.5rem;
      }

      .comp__desc {
        text-transform: uppercase;
        font-family: base.$font2;
        font-size: 0.85rem;
        color: base.$slightly-transparent-white2;
        letter-spacing: 1px;
      }
    }

    .comp:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 375px) {
  :root {
    font-size: 1.15rem;
  }

  .card {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1440px;

    .container {
      width: 50%;

      img {
        content: url("../images/image-header-desktop.jpg");
        height: 100%;
        object-fit: cover;
      }
    }

    .card__content {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 5.25em;

      .title {
        font-size: 2.25rem;
        text-align: start;
      }

      .desc {
        max-width: 450px;
        text-align: start;
        margin: 2em 0;
        line-height: 2em;
      }

      .wrapper {
        margin-top: auto;
      }

      .comps {
        display: flex;
        max-width: 500px;
        flex-wrap: wrap;
        row-gap: 20px;

        .comp {
          text-align: left;
          flex: 1 1 120px;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 900px) and (min-width: 375px) {
  :root {
    font-size: 0.7rem;
  }

  .card {
    .card__content {
      .comps {
        max-width: 350px;
        .comp {
          flex: 1 1 70px;
        }
      }
    }
  }
}
